# Applied Data Visualization – Homework 1
*https://www.dataviscourse.net/2024-applied/*

In this homework, you will review and visualize data from the Utah Avalanche Center https://utahavalanchecenter.org/observations

# Your info

*First name: Logan* 

*Last name: Correa*

*Email: logan.correa@utah.edu*

*UID u1094034*

In [17]:
# the standard input statements
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('ggplot')
%matplotlib inline

## Part 1: Load in data

Load in the provided file `avalanches.csv` using the Pandas `read_csv` function.

Print a couple of rows to get a sense of the data.

In [18]:
# import data
df = pd.read_csv('avalanches.csv')
df.head()

,Date,Region,Place,Trigger,Trigger: additional info,Weak Layer,Depth,Width,Vertical,Aspect,...,Buried - Fully,Injured,Killed,Accident and Rescue Summary,Terrain Summary,Weather Conditions and History,Comments 1,Comments 2,Comments 3,Comments 4
0,11/9/2012,Salt Lake,Sunset Peak,Snowboarder,Unintentionally Triggered,New Snow/Old Snow Interface,"14""",80',30',North,...,NaN,NaN,NaN,NaN,NaN,NaN,While it was a small avalanche that was I caug...,NaN,NaN,NaN
1,11/10/2012,Salt Lake,Pioneer Ridge,Skier,Remotely Triggered,Facets,2',20',125',North,...,NaN,NaN,NaN,NaN,NaN,NaN,Directly above cat track leading to lift. Cat...,NaN,NaN,NaN
2,11/10/2012,Salt Lake,Pioneer Bowl,Natural,NaN,Facets,NaN,NaN,NaN,North,...,NaN,NaN,NaN,NaN,NaN,NaN,"Looked and felt like winter today, nice to be ...",NaN,NaN,NaN
3,11/11/2012,Salt Lake,Patsy Marly,Skier,Unintentionally Triggered,New Snow/Old Snow Interface,2.5',100',100',North,...,NaN,NaN,NaN,NaN,NaN,NaN,A North facing aspect with an exposed ridge in...,NaN,NaN,NaN
4,11/11/2012,Salt Lake,Two Dogs,Skier,Remotely Triggered,Facets,3',70',450',North,...,NaN,NaN,NaN,NaN,NaN,NaN,Remotely triggered all the new storm snow (abo...,NaN,NaN,Additional comments by another backcountry obs...

## Part 2: Clean dates

You may notice that the dates of avalanches are provided in the `Date` column, however they are encoded as a string.

Additionally, we may want to analyze avalanches by year and by month, so let's create separate columns for those.

1. Convert the Date column to datetime format
2. Create a new column Year
3. Create a new column Month

In [19]:
# convert date to datetime
df['Date'] = pd.to_datetime(df['Date'])

# create a new column for the year
df['Year'] = df['Date'].dt.year

# create a new column for the month
df['Month'] = df['Date'].dt.month

## Part 3: Cleaning up Numerical Columns

You may also notice that numerical columns (`Elevation`, `Depth`, `Width`, `Vertical`) are encoded as strings. Moreover, some are in feet ('), while others are in inches (").

First, create a new column Elevation_Feet, with the Elevation column converted to a number, in feet

In [38]:
# create elevation_feet column
df['Elevation_Feet'] = df['Elevation'].str.replace(",", "")
df['Elevation_Feet'] = df['Elevation_Feet'].str.replace("'", "")
#df['Elevation_Feet'] = df['Elevation_Feet'].astype(int)

#count number of nan values in elevation feet
df['Elevation_Feet'].isnull().sum()

# print rows with nan values
df[df['Elevation'].isnull()].head()

,Date,Region,Place,Trigger,Trigger: additional info,Weak Layer,Depth,Width,Vertical,Aspect,...,Accident and Rescue Summary,Terrain Summary,Weather Conditions and History,Comments 1,Comments 2,Comments 3,Comments 4,Year,Month,Elevation_Feet
11,2012-12-08,Salt Lake,Superior,Unknown,NaN,New Snow,NaN,80',NaN,South,...,NaN,NaN,NaN,Coming from a chute that had seen quite a bit ...,NaN,NaN,NaN,2012.0,12.0,NaN
44,2012-12-20,Uintas,Roundy Basin,Snowboarder,Remotely Triggered,Facets,"4""",800',300',Northeast,...,NaN,NaN,NaN,Remotely triggered from the flats. Was not cli...,NaN,NaN,NaN,2012.0,12.0,NaN
49,2012-12-21,Skyline,Lake Canyon,Snowmobiler,Remotely Triggered,Facets,4',900',800',Northeast,...,NaN,NaN,NaN,\r\n\r\nThe Skyline has a big avalanche probl...,NaN,NaN,NaN,2012.0,12.0,NaN
54,2012-12-24,Logan,Amazon Basin,Unknown,Remotely Triggered,NaN,2.5',150',40',Northeast,...,NaN,NaN,NaN,We observed a crown from a natural slide at th...,NaN,NaN,Forecaster's comments. Small natural wind slab...,2012.0,12.0,NaN
74,2013-01-03,Salt Lake,Wolverine Cirque,Skier,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,A party reported to Alta Central that they had...,NaN,NaN,NaN,2013.0,1.0,NaN

Then, create three new columns in inches: 
   1. Depth_Inches, with the Depth column converted to a number, in inches
   2. Width_Inches, with the Width column converted to a number, in inches
   3. Vertical_Inches, with the Vertical column converted to a number, in inches

We recommend that you write a function that converts the string into a number and then use that function to clean up the columns. Note that you will also have to handle undefined (NaN) values.

In [21]:
# your code here

## Part 4: Plotting

4.1: Plot a histogram of the Depth_Inches variable using the built-in pandas plotting function.

In [22]:
# your code here

4.2: Then plot a histogram of the elevation in feet variable.

In [23]:
# your code here

4.3: Next, plot a bar chart of the number of avalances by year
(Hint: You may find it useful to create a separate data frame, grouped by year.)

In [24]:
# your code here

4.4: Once you have done that, you will see that the Utah Avalanche Center does not have complete data for earlier years. Let's filter them out to see the barchart more clearly

In [25]:
# your code here

4.5: Create a barchart of the number of avalanches per month
(Hint: You may find it useful to create a separate data frame, grouped by month.)

In [26]:
# your code here

4.6: Create a boxplot of the elevation of avalances by month

In [27]:
# your code here

4.6:  Create a horizontal barchart of the number of avalanches by trigger

(Hint: You may find it useful to create a separate data frame, grouped by trigger.)

In [28]:
# your code here

4.7: Create a boxplot of the depth of avalances by trigger

In [29]:
# your code here

# Part 5: Analysis – What did we learn?
Please answer the following questions in (brief) writing.

- What does the distribution of avalanche depths and elevations look like? 
- What year had the most avalanches? How many?
- What month had the most avalanches? How many?
- What month gets the highest elevation avalanches? How many feet, on average?
- What is the most common avalanche trigger?
- What avalanche trigger yields the deepest avalanches? How many inches deep, on average?

Your Answer Here!

# Part 6: Bonus – Are Avalanches with Fatalities Different?

Compare avalanches without and with fatalities using visualziations. Are there any differences you notice?#

# Grading Scheme

Part 1: 5%  
Part 2: 15%  
Part 3: 25%  
Part 4: 40%, 5% per sub-itme  
Part 5: 15%  
Part 6 (Bonus): 10%